
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent Tutoring System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script>
        function showPopup(message) {
            document.getElementById('resultText').innerText = message;
            document.getElementById('resultPopup').style.display = 'block';
        }

        function closePopup() {
            document.getElementById('resultPopup').style.display = 'none';
        }
    </script>

	
</head>
<body>
    <header>
	<div class="logo">
             <h1>Intelligent Tutoring System - Chemistry</h1>
        </div>
       
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if user %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>

                {% else %}
                    <li><a href="{{ url_for('tutoring') }}">Tutoring</a></li>
					<li><a href="{{ url_for('periodic_table') }}">PeriodicTable</a></li>
					<li><a href="{{ url_for('bonding_simulator') }}">Bondingsimulator</a></li>
					<li><a href="{{ url_for('chemical_reactions') }}">Chemicalreactions</a></li>
					<li><a href="{{ url_for('game') }}">Games</a></li>
                    <li><a href="{{ url_for('feedback') }}">feedback</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>


                {% endif %}
            </ul>
        </nav>
    </header>
	
		
    <main>
        {% block content %}
       
{% endblock %}
    </main>
	
	<div id="resultPopup" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2>Result</h2>
            <p id="resultText"></p>
        </div>
    </div>

	    
    <footer>
        <p>&copy; 2024 Intelligent Tutoring System</p>
    </footer>
</body>
</html>
